<div class="search-input" [formGroup]="searchForm">
    <input type="text" placeholder="Search City" class="search-input" formControlName="city">
    <button class="search-botton" (click)="SearchWethere()">Search</button>

</div>
<div class="content" *ngIf="weatherData">
    <div class="row">
        <div class="img-container">
            <img src="assets/pexels-brett-sayles-1431822.jpg" alt="" class="section_img">
        </div>
        <div class="temp">
            {{weatherData.temp}}
        </div>
    </div>
    <div>
        <div class="row">
            <div class="section-2">
                <div class="top-info">
                    <p>Expected Tem : {{weatherData.expected_temp}}</p>
                </div>
                <div class="bottom-info">
                    <div class="info-box">
                        <p>Humidity:{{weatherData.humidity}}</p>
                    </div>
                    <div class="info-box">
                        <p>Wind Speed:{{weatherData.wind}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>